/* App.module.css */
.Title {
  margin-left: 50px;
  margin-bottom: 0px;
  font-size: 2rem; /* 文字サイズを追加して見やすく */
}

/* 記事リストのスタイル */
.ArticleList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 最大4列 */
  gap: 20px;
  padding: 20px; /* 内側に余白を追加 */
  margin: 40px auto; /* 自動で中央寄せ */
  box-sizing: border-box;
  max-width: 1200px; /* 最大幅を1200pxに制限 */
}

@media (max-width: 1200px) {
  .ArticleList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 850px) {
  .ArticleList {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; /* 列間の隙間を調整 */
  }
}

@media (max-width: 600px) {
  .ArticleList {
    grid-template-columns: 1fr;
    padding: 10px; /* 内側の余白を調整 */
  }

  .Article {
    min-width: 100%; /* 幅をデバイスに合わせる */
    margin: 0 auto; /* 自動で中央寄せ */
    text-align: center; /* 内容を中央寄せ */
  }
}

.ArticleTitle{
  margin-top: 0.5em;
  margin-bottom: 0em;
  padding: 0em;
}

.Article {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2), 
              0 1px 4px rgba(0, 0, 0, 0.1); /* 影を濃くしてぼかしを追加 */
  padding: 20px;
  height: 400px;
  width: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box; /* パディングを含めて幅を計算 */
  text-decoration: none; /* リンクの下線を消す */
  color: #333; /* リンクの色を一定にする */
  transition: transform 0.2s, box-shadow 0.2s; /* ホバー時のアニメーション */
}

/* ホバー時にさらに影を強調して浮いた効果 */
.Article:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 
              0 4px 8px rgba(0, 0, 0, 0.1); /* さらに濃く、ぼかしを広げる */
}

.ArticleDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 最大3行まで表示 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* 省略記号を表示 */
  white-space: normal; /* 改行を許可 */
  font-size: 0.6em;
  margin: 0em;
}

.Hashtag {
  font-size: 0.5em;
  color: #007bff;
  margin-right: 10px;
  text-decoration: none;
  position: relative;
}

.Hashtag:hover {
  text-decoration: underline;
}

.ArticleDate{
  font-size: 0.5em
}

.ArticleImage{
  width: 100%; /* カードの幅に画像を合わせる */
  height: 200px; /* カードの高さに画像を合わせる */
  object-fit: cover; /* カードを埋めるようにトリミング */
}

.ArticleWriter{
  font-size: 0.1em;
  
}

.SortButtons {
  justify-content: right;
  display: flex;
  gap: 10px;
  margin: 10px 60px;
}

.Button {
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* スムーズなトランジション */
}

.ActiveButton {
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #000;
  color: #fff;
  background: #000;
}

/* ここからハッシュタグページ */
.HashtagPage{
  margin-top: 150px;
}