.container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

.button {
  padding: 10px;
  font-size: 18px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.imagePreview {
  margin-top: 10px;
}

.image {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  max-width: 50%;
  max-height: 200px;
}

.textarea {
  height: 200px; /* 必要に応じて高さを調整 */
  resize: vertical; /* ユーザーが縦方向にリサイズ可能 */
}
